.navbar {
	margin-bottom: 0px;
}

.jumbotron h1 {
	text-align: center;
}

.jumbotron p {
	margin-left: 20%;
}

body {
	background-color: #81DAF5;
}
h1 {
  color: #08088A;
}

.make-me-red {
  color: red;
}

.make-me-huge {
  font-size: 40px;
}

.make-me-centered {
  text-align: center;
}

#greeting {
  text-align: right;
  color: gray;
  font-weight: 700;
  font-size: 40px;
}